# Node
node_modules/
dist/
.vite/
*.log
npm-debug.log*
pnpm-debug.log*

# Python
backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/naive_bayes_model.pkl

# OS / Editor
.DS_Store
.vscode/
.idea/
